name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ created ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build:
          - name: 'Chameleon-linux_amd64'
            platform: 'linux/amd64'
            os: 'ubuntu-latest'
          - name: 'Chameleon-windows_amd64.exe'
            platform: 'windows/amd64'
            os: 'windows-latest'
          - name: 'Chameleon-darwin/amd64.app'
            platform: 'darwin/amd64'
            os: 'macos-latest'
          - name: 'Chameleon-darwin_arm64.app'
            platform: 'darwin/arm64'
            os: 'macos-latest'

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: CheckOut
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # 只在 Linux runner 上安装依赖
      - name: Install Linux dependencies
        if: matrix.build.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libayatana-appindicator3-dev

      - name: Build wails
        uses: dAppServer/wails-build-action@main
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          go-version: '1.24'
